.box_wrap{   
   display: flex;
}

.box_1{
    width: 40%;    
    height: 100vh;
    background-color: rgb(237, 28, 36);
}

.box_2{
    width: 60%;    
    height: 100vh;
    background-image: url(../img/main_bn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box_1 .logo{
    font-size: 16px;
    color: white;
    margin: 30px 0 0 90px;
}

.box_1 h1{
    font-size: 110px;
    color: white;    
    margin: 230px 0 0 220px;
}

.box_1 p{
    width: 230px;
    font-size: 16px;
    color: white;
    margin: 50px 0 50px 220px;
    
}

.box_1 .contact{
    width: 180px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    color: #1d1d1d;
    font-size: 16px;
    margin-left: 220px;
    text-align: center;
    line-height: 50px;
}